body {
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
    padding-top: -70px;
}

.hero {
    height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/5652012.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #333;
}

.section-title {
    font-weight: 700;
    margin-bottom: 30px;
}

.profile-img {
    width: 200px;
}


.skill-card{
    padding:20px;
    border-radius:15px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    transition:0.3s ease;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.skill-card:hover{
    transform:translateY(-5px);
    box-shadow:0 6px 20px rgba(0,0,0,0.2);
}

.skill-tag{
    background:#007bff;
    color:white;
    padding:8px 14px;
    border-radius:50px;
    font-size:14px;
    transition:0.3s;
    cursor:pointer;
}

.skill-tag:hover{
    background:#0056b3;
    transform:scale(1.1);
}

.skill-flip.active .skill-inner{
    transform:rotateY(180deg);
}

.timeline{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.timeline-item{
    perspective:1000px;
}

.skill-flip{
    width:150px;
    height:150px;
    cursor:pointer;
}

.skill-inner{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:0.7s;
}

.skill-front,.skill-back{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:15px;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    backface-visibility:hidden;
}

.skill-back{
    transform:rotateY(180deg);
    padding:10px;
}

.fa-bootstrap:hover{
    color:#7952B3;
}

.fa-html5:hover{
    color:orange
}

.fa-css3-alt:hover{
    color:#007bff;
}

.fa-js:hover{
      color: yellow;
}

.fa-python:hover{
    color: #3776AB;
}

.fa-database:hover{
    color: #00758F;
}


.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-img{
    height: 300px;
    object-fit: cover;
    border-bottom: 2px solid black;
}

.soft-skill-list{
    padding-left:18px;
    font-size:14px;
}

.soft-skill-list li{
    margin-bottom:6px;
    list-style-type: square;
}

footer {
    background: #111;
    color: white;
    font-size: medium;
}


.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #000 !important;
}

.dark-mode .bg-light {
    background-color: #1f1f1f !important;
}

.dark-mode .card {
    background-color: #1f1f1f;
    color: white;
}


.dark-mode .progress-bar {
    background-color: #007bff;
}

.thank-scroll{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}